dist
.tmp
.sass-cache
bower_components
nbproject
/vendor
node_modules
app/node_modules
app/vendor
.env
nbproject
tests/_output/*
*.bak
composer.lock
composer.phar
.idea/*
!.gitignore
.settings/*
.buildpath
.project
codeception.yml
acceptance.suite.yml
functional.suite.yml
unit.suite.yml
.DS_Store

