db.driver: mysql

db.hostname: localhost
db.dbname: vonica
db.username: vonica
db.password: vonica

#db.hostname: uvdb21.active24.cz 
#db.dbname: besedovani
#db.username: besedovani
#db.password: iFPeMUS

mode: 'development'
debug: true